<!DOCTYPE html> 
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ language }}">
  {% load i18n static %}
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <title>{% block pagetitle %}{{ title|default:"Home" }} | Git Rosetta{% endblock %}</title>

    <link rel="shortcut icon" type="image/png" href="{% static 'images/gitr/icon.png' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/gitrosetta.css' %}" />
    <script src="{% static 'admin/js/jquery.min.js' %}" type="text/javascript"></script>

    {% block "head" %}{% endblock %}
  </head>

  <body id="{% block sectionid %}generic{% endblock %}">
    <div class="page-center-wrap">
      <div class="page-center-content">
        <div id="header">
          <div id="navigation">
            <ul>
              <li><a href="">Subscribe</a></li>
            </ul>
          </div>
          <div id="title">
            {% if language %}
              <a href="{% url "gitr:list" %}"><img src="{% static language_logo %}" id="brand" title="CMS Rosetta Translations"/>
              {{ language_namo }} {% trans "Translations" %}</a>
            {% else %}
              <a href="{% url "gitr:home" %}"><img src="{% static "images/gitr/logo.svg" %}" id="brand" style="width: 48px; height: 48px; top: -16px;" title="CMS Rosetta Translations"/>
                {{ title|default:"Git Rosetta" }}</a>
            {% endif %}
          </div>
        </div>

    {% if messages %}
      <ul id="messages">{% for message in messages %}<li{% if message.tags %} class="{{ message.tags }}"{% endif %} title="{{ message.tags }}">
        {% if 'safe' in message.tags %}{{ message|safe }}{% else %}{{ message }}{% endif %}
      </li>{% endfor %}</ul>
    {% endif %}

        <div id="actions">
          <ul>
            <li><a href="{% url "gitr:home" %}">{% trans "Language" %}</a></li>
            {% if language %}
              <li><a href="{% url "gitr:list" %}">{{ language_name }}</a></li>
            {% endif %}
            {% block breadcumbs %}{% endblock %}
          </ul>
          <div class="clear"></div>
        </div>
        <div id="content-wrap">
          {% block main %}{% endblock %}
        </div>
        <div id="footer">
          <p><a href="https://gitlab.com/doctormo/git-rosetta">Git Rosetta</a> by <a href="http://divajutta.com/doctormo/">Martin Owens</a> - AGPLv3 Free Software Project</p>
        </div>
      </div>
    </div>
  </body>
</html>
