{% extends "gitrosetta/base.html" %}
{% load i18n gitrosetta future %}

{% block breadcumbs %}
  {% if kind %}<li><a>{% trans kind|title %} Translations</a></li>{% endif %}
{% endblock %}

{% block main %}
  <div id="content">
      <h2>{% trans "All Repositories" %}</h2>
      <table class="list">
        <thead>
          <tr>
            <th>{% trans "Project Repository" %}</th>
            <th colspan="3">{%trans "Progress" %}</th>
            <th>{% trans "Location" %}</th>
          </tr>
        </thead>
        <tbody>
          {% for repo in object_list %}
            <tr class="{% cycle "row1" "row2" %}">
              <td><a href="{{ repo.get_absolute_url }}">{{ repo }}</a></td>
              {% progressbar repo.progress %}
              <td class="hint">{{ repo.git_url }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
  </div>
  <!--div id="sidebar">
    <h2>Filter</h2>
    <ul class="object-tools">
        <li{% if not kind %} class="active"{% endif %}>
          <a href="{% url 'gitr:home' %}">{% trans "All" %}</a>
        </li>
        {% for k in kinds %}
          <li{% if kind == k %} class="active"{% endif %}>
            <a href="{% url 'gitr:home' k %}">{% trans k|title %}</a>
          </li>
        {% endfor %}
    </ul>
  </div-->
{% endblock %}
