
{% if done %}
  <td class="ch-total r">{{ done.total }}/{{ all.total }}</td>
  <td class="ch-progress r">{{ done.percent|floatformat:0 }}%</td>
  <td title="{% for k,v in keys.items %}{% if v.name %}{{ v.name }}: {{ v.total }} ({{ v.percent|floatformat:0 }}%)
{% endif %}{% endfor %}">
    <meter value="{{ done.percent }}" min="0" low="30" optimum="95" high="90" max="100"></meter>
  </td>
{% else %}
  <td class="ch-total r">?/?</td>
  <td class="ch-progress r">0%</td>
  <td><meter value="0" min="0" low="0" optimum="0" high="0" max="100" style="opacity: 0.5;"></meter></td>
{% endif %}

